<!DOCTYPE html>
<html language="en">

<head>
    <meta charset="UTF-8">
    <title>Baby Dashboard</title>
    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 33.33%;
            padding: 5px;
        }

        /* Clearfix (clear floats) */
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
</head>

<body>
    <h1>Dashboard of Data and Measurements for Jennifer</h1>
    <h1>Last Update {{ last_update_date }}</h1>
    <div class="row">
        <div class="column">
            <img src="{{ url_for('static', path= 'feeding.jpg') }}" alt="Feeding graph">
        </div>
    </div>

    <div class="row1">
        <div class="column">
            <img src="{{ url_for('static', path= 'weight.jpg') }}" alt="Weight graph">
        </div>
        <div class="column">
            <img src="{{ url_for('static', path= 'height.jpg') }}" alt="Height graph">
        </div>
        <div class="column">
            <img src="{{ url_for('static', path= 'head.jpg') }}" alt="Head graph">
        </div>
    </div>

    <div class="row2">
        <div class="column">
            <img src="{{ url_for('static', path= 'wh.jpg') }}" alt="Weight/Height">
        </div>
    </div>
</body>


</html>