<!DOCTYPE html>
<html language="en">

<head>
    <meta charset="UTF-8">
    <title>Flash Message</title>
    <style> 
        body {
          background-color:rgba(253, 247, 247, 0.99);
          font-family: arial, sans-serif; 
        }
    </style>

</head>

<body>
    <div>
        <h3>{{ input_text }}</h3>
    </div>

    <form action="/api/v1/dash/dashboard">
        <input type="submit" value="Dashboard">
    </form>

    <form action="/api/v1/dash/update_data">
        <input type="submit" value="update_data">
    </form>


</body>
</html>


